# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WalletAppWPF.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Nastya\Desktop\C#\NewWalletApp\WalletAppWPF\.idea\.idea.WalletAppWPF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
